.nav-bar{
    background-color:#fff;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 2px solid #e9edc9;
    height: 80px;
    margin-bottom: 40px;
}

.container-buttons button:nth-child(2){    
    margin-left: 20px;
}

.container-info-user{
    display: flex;
    justify-content: space-evenly;
    border: 1px solid #e9edc9;
    border-radius: 5px;
    width: 300px;
    padding: 10px 0px 10px 0px;
    font-weight: bold;
}

