<mat-card> 
    <div style="text-align:center;">
        <mat-card-title>Nuevo Cliente</mat-card-title>
    </div>   
    <br>
    <form [formGroup]="usuarioNuevo">
        <mat-form-field class="campos-field">
            <input matInput placeholder="Cedula" formControlName="cedula">
        </mat-form-field>

        <mat-form-field class="campos-field">
            <input matInput placeholder="Nombres" formControlName="nombres">
        </mat-form-field>

        <mat-form-field class="campos-field">
            <input matInput placeholder="Apellidos" formControlName="apellidos">
        </mat-form-field>

        <mat-form-field class="campos-field">
            <input matInput placeholder="Direccion" formControlName="direccion">
        </mat-form-field>

        <mat-form-field class="campos-field">
            <input matInput placeholder="Edad" formControlName="edad">
        </mat-form-field>

        <button mat-raised-button [disabled] = "!usuarioNuevo.valid" (click)="onSubmit()">Aceptar</button>  
        <button mat-raised-button color="accent" (click)="cancelar()">Cancelar</button>      
    </form>
    
</mat-card>